<obj id = "0">
    name = PLACEHOLDER;
    vertices = 0.cv;
    indices = 0.ci;
    mtllib = 0.mtl;
    scale = 1;
    translation = 0, 0, 0;
    rotateX = 0;
    rotateY = 0;
    rotateZ = 0;
</obj>
<obj id = "1">
    name = PLACEHOLDER;
    vertices = 1.cv;
    indices = 1.ci;
    mtllib = 1.mtl;
    scale = 1;
    translation = 0, 0, 0;
    rotateX = 0;
    rotateY = 0;
    rotateZ = 0;
</obj>
<obj id = "2">
    name = PLACEHOLDER;
    vertices = 2.cv;
    indices = 2.ci;
    mtllib = 2.mtl;
    scale = 1;
    translation = 0, 0, 0;
    rotateX = 0;
    rotateY = 0;
    rotateZ = 0;
</obj>
<obj id = "3">
    name = PLACEHOLDER;
    vertices = 3.cv;
    indices = 3.ci;
    mtllib = 3.mtl;
    scale = 1;
    translation = 0, 0, 0;
    rotateX = 0;
    rotateY = 0;
    rotateZ = 0;
</obj>
<obj id = "4">
    name = PLACEHOLDER;
    vertices = 4.cv;
    indices = 4.ci;
    mtllib = 4.mtl;
    scale = 1;
    translation = 0, 0, 0;
    rotateX = 0;
    rotateY = 0;
    rotateZ = 0;
</obj>
<obj id = "5">
    name = PLACEHOLDER;
    vertices = 5.cv;
    indices = 5.ci;
    mtllib = 5.mtl;
    scale = 1;
    translation = 0, 0, 0;
    rotateX = 0;
    rotateY = 0;
    rotateZ = 0;
</obj>
<obj id = "6">
    name = c4520;
    vertices = 6.cv;
    indices = 6.ci;
    mtllib = 6.mtl;
    scale = 1;
    translation = 0, 0, 0;
    rotateX = 0;
    rotateY = 0;
    rotateZ = 0;
</obj>

<obj id = "7">
    name = c4520;
    vertices = 7.cv;
    indices = 7.ci;
    mtllib = 7.mtl;
    scale = 1.0;
    translation = 0.0, 0.0, 0.0;
    rotateX = 0.0;
    rotateY = 0.0;
    rotateZ = 0.0;
</obj>
<obj id = "0">
    name = c4520;
    vertices = 0.cv;
    indices = 0.ci;
    mtllib = 0.mtl;
    scale = 1.0;
    translation = 0.0, 0.0, 0.0;
    rotateX = 0.0;
    rotateY = 0.0;
    rotateZ = 0.0;
</obj>
<obj id = "1">
    name = c4520;
    vertices = 1.cv;
    indices = 1.ci;
    mtllib = 1.mtl;
    scale = 1.0;
    translation = 0.0, 0.0, 0.0;
    rotateX = 0.0;
    rotateY = 0.0;
    rotateZ = 0.0;
</obj>
<obj id = "0">
    name = c4520;
    vertices = 0.cv;
    indices = 0.ci;
    mtllib = 0.mtl;
    scale = 1.0;
    translation = 0.0, 0.0, 0.0;
    rotateX = 0.0;
    rotateY = 0.0;
    rotateZ = 0.0;
</obj>
