<obj id = "0">
    name = c4520;
    vertices = 0.cv;
    indices = 0.ci;
    mtllib = 0.mtl;
    scale = 1.0;
    translation = 0.0, 0.0, 0.0;
    rotateX = 0.0;
    rotateY = 0.0;
    rotateZ = 0.0;
</obj>
