<obj id = "1">
    name = c4520;
    vertices = 1.cv;
    indices = 1.ci;
    mtllib = 1.mtl;
    scale = 1.0;
    translation = 0.0, 0.0, 0.0;
    rotateX = 0.0;
    rotateY = 0.0;
    rotateZ = 0.0;
</obj>
<obj id = "1">
    name = c4520;
    vertices = 1.cv;
    indices = 1.ci;
    mtllib = 1.mtl;
    scale = 1.0;
    translation = 0.0, 0.0, 0.0;
    rotateX = 0.0;
    rotateY = 0.0;
    rotateZ = 0.0;
</obj>
